Repository OWTV/owtvgg: changes, and which lefthook commands are due for each by the changed paths.
All: root-biome, web-biome

root-biome:
  run: bun biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

web-biome:
  run: bun biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

feat: add better monorepo setup
  README.md
  apps/web/.env.example
  apps/web/CONTRIBUTING.md
  apps/web/README.md
  apps/web/package.json
  apps/web/src/app/(frontend)/page.tsx
  bun.lock
  lefthook.yml
  packages/faceit/.gitignore
  packages/faceit/README.md
  packages/faceit/index.ts
  packages/faceit/package.json
  packages/faceit/tsconfig.json
Due: root-biome, web-biome

feat: add better monorepo setup (#14)
  README.md
  apps/web/.env.example
  apps/web/CONTRIBUTING.md
  apps/web/README.md
  apps/web/package.json
  apps/web/src/app/(frontend)/page.tsx
  bun.lock
  lefthook.yml
  packages/faceit/.gitignore
  packages/faceit/README.md
  packages/faceit/index.ts
  packages/faceit/package.json
  packages/faceit/tsconfig.json
Due: root-biome, web-biome

.idea and .gitignore update
  .gitignore
  .idea/.gitignore
  .idea/modules.xml
  .idea/owtvgg.iml
  .idea/vcs.xml
Due: none

chore: update lefthook config
  bun.lock
  package.json
Due: root-biome

feat: add Tournaments collection
  apps/web/payload.config.ts
  apps/web/src/entities/tournament/model/collection.ts
Due: web-biome

feat: add Rounds collection
  apps/web/payload.config.ts
  apps/web/src/entities/round/model/collection.ts
  apps/web/src/shared/model/payload/types.d.ts
Due: web-biome

feat: add DraftRosters and PublishedRosters collections
  apps/web/payload.config.ts
  apps/web/src/entities/player/model/collection.ts
  apps/web/src/entities/player/model/repository.ts
  apps/web/src/entities/roster-draft/index.ts
  apps/web/src/entities/roster-draft/model/collection.ts
  apps/web/src/entities/roster-draft/model/repository.ts
  apps/web/src/entities/roster-published/model/collection.ts
  apps/web/src/shared/model/payload/types.d.ts
Due: web-biome

feat: add TournamentPlayers collection
  apps/web/payload.config.ts
  apps/web/src/entities/roster-draft/model/collection.ts
  apps/web/src/entities/roster-published/model/collection.ts
  apps/web/src/entities/tournament-player/model/collection.ts
  apps/web/src/entities/tournament-player/model/repository.ts
  apps/web/src/shared/model/payload/types.d.ts
Due: web-biome

feat: create migration
  apps/web/db/migrations/20251123_205615.json
  apps/web/db/migrations/20251123_205615.ts
  apps/web/db/migrations/index.ts
  apps/web/payload.config.ts
Due: web-biome

fix: fix module imports
  apps/web/next.config.ts
  apps/web/payload.config.ts
Due: web-biome

chore: rename entities
  apps/web/payload.config.ts
  apps/web/src/app/(frontend)/layout.tsx
  apps/web/src/app/(frontend)/teams/page.tsx
  apps/web/src/entities/roster-published/model/collection.ts
  apps/web/src/entities/tournament-player/model/collection.ts
  apps/web/src/entities/tournament-round/model/collection.ts
  apps/web/src/entities/user-session/index.ts
  apps/web/src/entities/user-session/model/client-session.tsx
  apps/web/src/entities/user-session/model/server-session.ts
  apps/web/src/entities/user-session/model/types.d.ts
  apps/web/src/features/user-sign-up/model/actions.ts
  apps/web/src/features/user-toggle-favourite-player/model/actions.ts
  apps/web/src/shared/model/payload/types.d.ts
  apps/web/src/widgets/navbar/ui/navbar.tsx
Due: web-biome

feat: add Matches collection
  apps/web/db/migrations/20251123_214128.json
  apps/web/db/migrations/20251123_214128.ts
  apps/web/db/migrations/index.ts
  apps/web/payload.config.ts
  apps/web/src/entities/match/index.ts
  apps/web/src/entities/match/model/collection.ts
  apps/web/src/entities/match/model/repository.ts
  apps/web/src/shared/model/payload/types.d.ts
Due: web-biome

feat: add PlayerMatchStats collection
  apps/web/db/migrations/20251123_215226.json
  apps/web/db/migrations/20251123_215226.ts
  apps/web/db/migrations/index.ts
  apps/web/payload.config.ts
  apps/web/src/entities/game-map/model/collection.ts
  apps/web/src/entities/match/model/collection.ts
  apps/web/src/entities/player-match-stat/model/collection.ts
  apps/web/src/entities/player-match-stat/model/repository.ts
  apps/web/src/shared/model/payload/types.d.ts
Due: web-biome

fix: fix module imports
  apps/web/package.json
  apps/web/payload.config.ts
  apps/web/src/db/seed.ts
  bun.lock
  package.json
Due: root-biome, web-biome

fix: add index files
  apps/web/src/entities/game-map/index.ts
  apps/web/src/entities/player-match-stat/index.ts
  apps/web/src/entities/roster-published/index.ts
  apps/web/src/entities/tournament-player/index.ts
  apps/web/src/entities/tournament-round/index.ts
  apps/web/src/entities/tournament/index.ts
Due: web-biome

chore: move seed file
  apps/web/db/seed.ts
  apps/web/package.json
Due: web-biome

Port Faceit package
  apps/web/src/app/(frontend)/page.tsx
  bun.lock
  packages/faceit/.gitignore
  packages/faceit/README.md
  packages/faceit/index.ts
  packages/faceit/jest.config.js
  packages/faceit/package.json
  packages/faceit/scripts/explore.ts
  packages/faceit/scripts/swagger.ts
  packages/faceit/src/cache.ts
  packages/faceit/src/identifiers.ts
  packages/faceit/src/index.ts
  packages/faceit/src/internal/api.ts
  packages/faceit/src/internal/client.ts
  packages/faceit/src/internal/index.ts
  packages/faceit/src/pagination.ts
  packages/faceit/src/ratelimit.ts
  packages/faceit/src/v4/README.md
  packages/faceit/src/v4/api.ts
  packages/faceit/src/v4/client.ts
  packages/faceit/src/v4/configuration.ts
  packages/faceit/src/v4/index.ts
  packages/faceit/tsconfig.json
Due: root-biome, web-biome

Add Faceit library from old repository (#15)
  .gitignore
  .idea/.gitignore
  .idea/modules.xml
  .idea/owtvgg.iml
  .idea/vcs.xml
  apps/web/src/app/(frontend)/page.tsx
  bun.lock
  packages/faceit/.gitignore
  packages/faceit/README.md
  packages/faceit/index.ts
  packages/faceit/jest.config.js
  packages/faceit/package.json
  packages/faceit/scripts/explore.ts
  packages/faceit/scripts/swagger.ts
  packages/faceit/src/cache.ts
  packages/faceit/src/identifiers.ts
  packages/faceit/src/index.ts
  packages/faceit/src/internal/api.ts
  packages/faceit/src/internal/client.ts
  packages/faceit/src/internal/index.ts
  packages/faceit/src/pagination.ts
  packages/faceit/src/ratelimit.ts
  packages/faceit/src/v4/README.md
  packages/faceit/src/v4/api.ts
  packages/faceit/src/v4/client.ts
  packages/faceit/src/v4/configuration.ts
  packages/faceit/src/v4/index.ts
  packages/faceit/tsconfig.json
Due: root-biome, web-biome

Path conditions:
  root-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}, but not: apps/web/*
  web-biome: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/web/
